:root {
    /* Primary colors */
    -cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);

    /* Secondary colors */
    --red: hsl(0, 87%, 67%);

    /* Neutral colors */
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);

    /* Font */
    --poppins: 'Poppins', sans-serif;
    
    /* Font weigths */
    --regular: 500;
    --bold: 700;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: var(--poppins);
}

body {
    width: 100%;
    min-height: 100vh;
}