:root {
    /* Primary colors */
    --cyan: hsl(180, 66%, 49%);
    --dark-violet: hsl(257, 27%, 26%);
    --buttons-hover: #9BE3E0;

    /* Secondary colors */
    --red: hsl(0, 87%, 67%);

    /* Neutral colors */
    --gray: hsl(0, 0%, 75%);
    --grayish-violet: hsl(257, 7%, 63%);
    --very-dark-blue: hsl(255, 11%, 22%);
    --very-dark-violet: hsl(260, 8%, 14%);

    /* Font */
    --poppins: 'Poppins', sans-serif;
    
    /* Font weigths */
    --regular: 500;
    --bold: 700;

    /* Transitions */
    --basic-transition: all 0.3s ease-in;
}

/* GENERAL STYLES */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 18px;
    font-family: var(--poppins);
}

body {
    width: 100%;
    min-height: 100vh;
}

.buttons {
    background-color: var(--cyan);
    color: #fff;
    font-family: var(--poppins);
    font-size: 0.9rem;
    font-weight: var(--bold);
    text-shadow: 0px 0px 1px #ccc;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    transition: var(--basic-transition);
}

.buttons:hover {
    background-color: var(--buttons-hover);
}

/* HEADER */

header {
    display: flex;
    padding: 54px 140px;
    justify-content: space-between;
}

header > img {
    display: none;
}

header i {
    display: none !important;
}

header div {
    flex-basis: 50%;
}

header div ul {
    display: flex;
    align-items: flex-start;
}

header div ul li {
    list-style: none;
    margin-right: 32px;
    transition: var(--basic-transition);
}

header div ul img {
    margin-right: 45px;
}

header ul li a {
    text-decoration: none;
    color: var(--grayish-violet);
    font-weight: var(--bold);
    font-size: 0.9rem;
    width: 100%;
}

header ul li:hover a {
    color: var(--very-dark-violet);
}

#login ul {
    justify-content: flex-end;
    align-items: flex-start;
}

#login ul li {
    margin-right: 38px;
}

#login .buttons {
    position: relative;
    bottom: 7px;
    padding: 8px;
    width: 104px;
}

#popup {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background-color: var(--dark-violet);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    width: 87%;
    border-radius: 8px;
    padding: 39px 22px 9px;
    display: none;
}

#popup li {
    list-style: none;
    padding-bottom: 30px;
}

#popup #popup-login {
    border-top: 1px solid #544A6D;
    padding: 34px 0 24px;
}

#popup a {
    color: #fff;
    text-decoration: none;
}

#popup .buttons {
    width: 100%;
    padding: 11px;
}

/* MAIN CONTENT */

#site-intro {
    display: flex;
    overflow: hidden;
    align-items: center;
    padding-bottom: 150px;
}

#site-intro div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 140px;
}

#site-intro h1 {
    font-size: 4.4rem;
    font-weight: var(--bold);
    letter-spacing: -2px;
    word-spacing: -1px;
    color: var(--very-dark-blue);
    line-height: 1.14;
}

#site-intro p {
    color: var(--grayish-violet);
    font-weight: var(--regular);
    font-size: 1.2rem;
    margin-bottom: 38px;
}

#site-intro .buttons {
    font-size: 1rem;
    width: 196px;
    padding: 14px;
}

#site-intro img {
    position: relative;
    left: 124px;
}

#shortening {
    position: relative;
    top: 82px;
    left: 50%;
    transform: translateX(-50%);
    width: 77.1%;
    display: flex;
    flex-direction: column;
}

#shortening form {
    background: url('./images/bg-shorten-desktop.svg') var(--dark-violet);
    background-size: cover;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
    padding: 52px;
    border-radius: 8px;
}

#shortening form input {
    font-family: var(--poppins);
    font-size: 1rem;
    color: var(--dark-violet);
    outline: none;
    border: none;
    border-radius: 8px;
    width: 76.34%;
    padding: 17px 31px;
}

#shortening form input::placeholder {
    color: var(--grayish-violet);
}

#shortening form .buttons {
    font-size: 1rem;
    border-radius: 8px;
    width: 18.7%;
    margin-left: 24px;
}

#statistics ul {
    display: flex;
    flex-direction: column;
    width: 95.7%;
    justify-content: center;
    margin-top: 84px;
}

#statistics ul li {
    list-style: none;
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    flex-basis: 100%;
    justify-content: space-between;
    padding: 22px;
    margin-top: 24px;
}

#statistics ul li:last-child {
    margin-bottom: 2px;
}

#statistics ul div {
    display: flex;
    align-items: center;
}

#statistics ul li .entered-link a {
    color: var(--very-dark-violet);
    text-decoration: none;
}

#statistics ul li .given-link a {
    color: var(--cyan);
    text-decoration: none;
    margin-right: 24px;
}

#statistics ul .buttons {
    width: 102px;
    font-size: 0.8rem;
    padding: 10px;
    border-radius: 6px;
}

#statistics {
    background-color: #F0F1F6;
    padding: 0px 140px 206px 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#statistics-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 94px;
    margin-top: 116px;
}

#statistics-intro h2 {
    text-align: center;
    font-size: 2.2rem;
    color: var(--very-dark-blue);
    letter-spacing: -1px;
    margin-bottom: 10px;
}

#statistics-intro p {
    text-align: center;
    color: var(--grayish-violet);
    font-size: 1rem;
    line-height: 1.82;
    width: 64%;
}

#statistics-cards {
    display: flex;
    justify-content: space-between;
}

.cards {
    background-color: #fff;
    width: 350px;
    padding: 77px 38px 41px 32px;
    margin-right: 28px;
    border-radius: 6px;
    box-shadow: rgba(114, 114, 114, 0.1) 0px 8px 24px;
}

.cards:last-child {
    margin-right: 0;
}

.card-text {
    display: flex;
    flex-direction: column;
    margin-top: -86px;
}

.card-text h3 {
    color: var(--very-dark-violet);
    font-size: 1.2rem;
    margin-bottom: 17px;
}

.card-text p {
    color: var(--grayish-violet);
    font-size: 0.8rem;
}

.card-logo {
    background-color: var(--dark-violet);
    width: 86px;
    height: 86px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: relative;
    bottom: 120px;
}

#records {
    transform: translateY(18%);
}

#records::before {
    content: "";
    display: block;
    background-color: var(--cyan);
    width: 28px;
    height: 9px;
    margin-left: -60px;
    position: absolute;
    margin-top: 32px;
}

#records::after {
    content: "";
    display: block;
    background-color: var(--cyan);
    width: 28px;
    height: 9px;
    margin-left: 318px;
    position: absolute;
    margin-top: -102px;
}

#customizable {
    transform: translateY(36%);
}

#boost {
    background: url('./images/bg-boost-desktop.svg') var(--dark-violet);
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#boost h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: -1px;
    word-spacing: 2px;
    margin: 55px 0 22px 0;
    text-align: center;
}

#boost .buttons {
    margin-bottom: 57px;
    font-size: 1rem;
    width: 196px;
    padding: 14px;
}

/* FOOTER */

footer {
    background-color: var(--very-dark-violet);
    display: flex;
    padding: 70px 140px 62px;
    justify-content: space-between;
}

#logo-container {
    margin-left: 24px;
}

#logo-container img {
    filter: brightness(0) invert(1);
}

#footer-links {
    display: flex;
    flex-basis: 58%;
    justify-content: space-between;
    margin-right: 52px;
}

#footer-links ul li {
    list-style: none;
    font-size: 0.9rem;
    margin-bottom: 8px;
}

#footer-links h4 {
    color: #fff;
    margin-bottom: 20px;
}

#footer-links ul li a {
    text-decoration: none;
    color: var(--gray);
    width: 100%;
    display: block;
}

#footer-links ul li:hover a {
    color: var(--cyan);
}

#contact {
    display: flex;
    align-items: flex-start;
}

#contact li {
    margin-left: 24px;
}

#contact li:first-child {
    margin-left: 0;
}

#contact li:hover a {
    filter: brightness(0) saturate(100%) invert(91%) sepia(9%) saturate(6656%) hue-rotate(131deg) brightness(89%) contrast(80%);
}

/* MEDIA QUERIES */

@media (max-width: 1320px) {

    header {
        padding: 54px 78px;
    }

    #site-intro div {
        margin-left: 78px;
    }

    #site-intro h1 {
        font-size: 3rem;
    }

    #site-intro p {
        font-size: 1rem;
    }

    #site-intro img {
        left: 158px;
        width: 600px;
    }

    #shortening {
        width: 82.1%;
    }

    #statistics {
        padding: 0px 78px 206px 78px;
    }

    .cards {
        width: 296px;
        padding: 66px 20px 41px 22px;
        margin-right: 28px;
    }

    #records::before {
        margin-left: -50px;
    }

    #records::after {
        margin-left: 274px;
    }

    footer {
        padding: 70px 78px 62px;
    }

    #logo-container {
        margin-left: 0;
    }

    #footer-links {
        flex-basis: 70%;
        margin-right: 0;
    }

}

@media (max-width: 978px) {

    header {
        padding: 54px 20px;
    }

    #site-intro div {
        margin-left: 20px;
    }

    #site-intro h1 {
        font-size: 2rem;
        word-spacing: 1px;
    }

    #site-intro img {
        left: 94px;
    }

    #shortening {
        width: 94.5%;
    }

    #statistics {
        padding: 0px 20px 262px 20px;
    }

    #statistics ul {
        width: 100%;
    }

    #statistics-cards {
        flex-direction: column;
    }

    .cards {
        width: 326px;
        padding: 66px 34px 40px 34px;
        margin-right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-logo {
        bottom: 108px;
    }

    .card-text {
        text-align: center;
        margin-top: -76px;
    }

    .card-text p {
        line-height: 1.8;
    }

    #records {
        transform: translateY(31%);
    }

    #records::before {
        width: 8px;
        height: 50px;
        margin-left: 0;
        margin-top: 231px;
    }


    #records::after {
        width: 8px;
        height: 50px;
        margin-left: 0;
        margin-top: -158px;
    }
    
    #customizable {
        transform: translateY(68.4%);
    }

    footer {
        flex-direction: column;
        align-items: center;
        padding: 54px 0 10px;
    }

    #logo-container {
        margin-bottom: 42px;
    }

    #footer-links {
        flex-direction: column;
        text-align: center;
    }

    #footer-links ul {
        margin-bottom: 30px;
    }

    #footer-links ul li a {
        letter-spacing: -1px;
    }

}

@media (max-width: 728px) {

    header {
        padding: 38px 26px 12px;
    }

    header ul img {
        display: none;
    }

    header ul {
        display: none !important;
    }

    header > img {
        display: block;
    }

    header i {
        display: block !important;
        transform: scale(1.5);
        opacity: 0.4;
        font-weight: 200;
    }

    #site-intro {
        flex-direction: column;
        padding-bottom: 6px;
    }

    #site-intro img {
        order: 1;
        left: 76px;
        width: 480px;
    }

    #site-intro div {
        order: 2;
        text-align: center;
        align-items: center;
        margin-left: 0;
        padding: 42px 26px 0;
    }

    #site-intro h1 {
        font-size: 2.4rem;
    }

    #site-intro p {
        margin-top: 14px;
    }

    #shortening {
        width: 87%;
    }

    #shortening form {
        background: url('./images/bg-shorten-mobile.svg') var(--dark-violet);
        background-size: cover;
        flex-direction: column;
        padding: 24px;
    }

    #shortening form input {
        font-size: 0.9rem;
        border-radius: 8px;
        width: 100%;
        padding: 11px 15px;
        margin-bottom: 16px;
    }

    #shortening form input::placeholder {
        font-size: 0.9rem;
    }

    #shortening form .buttons {
        font-size: 1rem;
        border-radius: 8px;
        width: 100%;
        margin-left: 0;
        padding: 11px 15px;

    }

    #statistics ul li {
        flex-direction: column;
        align-items: stretch;
        padding: 0;
        font-size: 0.9rem;
    }

    #statistics ul li .entered-link {
        border-bottom: 1px solid #ccc;
        padding: 12px 16px 10px;
    }

    #statistics ul li .given-link {
        margin-bottom: 11px;
    }

    #statistics ul li .given-link a {
        margin-right: 0;
    }

    #statistics ul div {
        flex-direction: column;
        align-items: stretch;
        padding: 12px 16px 16px;
    }

    #statistics ul .buttons {
        width: 100%;
    }

    #statistics-intro {
        margin-top: 80px;
    }
    
    #statistics-intro h2 {
        font-size: 1.6rem;
    }

    #statistics-intro p {
        font-size: 0.86rem;
        width: 100%;
    }

    #boost {
        background: url('./images/bg-boost-mobile.svg') var(--dark-violet);
        background-size: cover;
    }

    #boost h2 {
        font-size: 1.6rem;
        margin: 96px 0 16px 0;
    }

    #boost .buttons {
        margin-bottom: 90px;
    }

}

@media (max-width: 360px) {

    #site-intro h1 {
        font-size: 2.2rem;
    }

    #statistics-intro h2 {
        font-size: 1.4rem;
    }

    .cards {
        width: 265px;
        padding: 66px 12px 40px 12px;
    }

    #customizable {
        transform: translateY(62.5%);
    }

    #boost h2 {
        font-size: 1.4rem;
    }

}